@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import '~material-icons/iconfont/material-icons.css';

:root {
    --main-color: #00C8FF;
    --background-color: #1B1B1B;
    --separator: #282A30;
    --round-button: #282A30;
    --icon-button: #EFEFEF; //Icon button color
}

@font-face {
    font-family: 'DS-Digital';
    src: url('/assets/fonts/DS-DIGI.TTF');
}

// body,html{
//     overflow: hidden;
// }

body {
    margin: 0;
    font-family: 'roboto', sans-serif;
    background-color: var(--background-color);
}

* {
    color: #fff;
}

// .menubar {
//     display: none;
// }